@import "tailwindcss";

@theme {
  --color-primary: #1F35E8;
  --color-primary-hover: #2337C8;
  --color-accent: #20C7F4;
  --color-accent-light: #DFF5FF;
  --color-surface: #F7F9FC;
  --color-border: #E6EBF2;
  --color-text-primary: #111318;
  --color-text-secondary: #4E5565;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
